<div class="sidebar">
  <div class="container left-align">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <!-- Navigation links are intentionally curated below to keep the template concise. -->
      <a class="sidebar-nav-item"
         href="{{ site.baseurl }}/about/">About</a>
      <!-- <a class="sidebar-nav-item"
         href="{{ site.baseurl }}/resume/">Resume</a> -->
      <a class="sidebar-nav-item"
         href="{{ site.baseurl }}/experience/">Experience</a>
      <a class="sidebar-nav-item"
         href="{{ site.baseurl }}/cvprojects/">Vision & NLP Projects</a>
      <a class="sidebar-nav-item"
         href="{{ site.baseurl }}/dsprojects/">Classical ML Projects</a>
      <a class="sidebar-nav-item"
         href="{{ site.baseurl }}/publications/">Publications</a>
    </nav>

    <ul class="list-inline" id="sidebar-buttons">
        <li>
            <a href="mailto:{{ site.author.email }}" class="btn-social btn-outline" title="E-Mail me">
                <i class="fa fa-fw fa-at"></i>
            </a>
        </li>
        <li>
            <a href="{{ site.author.github }}" target="_blank" class="btn-social btn-outline" title="Nikunj on GitHub">
                <i class="fa fa-fw fa-github"></i>
            </a>
        </li>
        <li>
            <a href="{{ site.author.twitter }}" target="_blank" class="btn-social btn-outline" title="@LadNikunj on Twitter">
                <i class="fa fa-fw fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="{{ site.author.linkedin}}" target="_blank" class="btn-social btn-outline" title="Nikunj Lad on LinkedIn">
                <i class="fa fa-fw fa-linkedin"></i>
            </a>
        </li>
        <!--
        <li>
          <a href="{{ site.author.resume }}" target="_blank" class="btn-social btn-outline" title="Nikunj Lad Resume">
              <i class="fa fa-fw fa-download"></i>
          </a>
        </li>
        -->
      
    </ul>

    <p id="credits">&copy; {{ site.time | date: '%Y' }}. <a href="{{ site.baseurl }}/credits">Credits</a>.</p>
  </div>
</div>
